{% extends "admin/base_site.html" %}

{% block sidebar %}
    <div>
        <h1>Extra links</h1>
        <a href="/admin/extra/">My extra link</a>
    </div>
{% endblock %}

{% block title %}Service code page{% endblock %}

{% block branding %}P7E Service system{% endblock %}

{% block nav-global %}
<div><p>NAV-GLOBAL</p></div>
{% endblock %}

{% block content %}
<h1>{{ code.name }}</h1>
{% if code.title %}<p>Title: {{ code.title }}</p>{% endif %}
<p>Service code: {{ code.short_public_code}}</p>
{% endblock %}

{% block footer %}{{ block.super }} - footer block -{% endblock %}
